<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Update Product</title>
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../css/shards.min.css" />
</head>

<body>
<form
        class="container my-5"
        method="POST"
        action="#"
        th:action="@{/prod/edit/{id}(id=${prod.productid})}"
        th:object="${addr}"
>
  <h1>Pon la informacion del producto</h1>
 <label for="name">Nombre: </label>
  <input type="text" name="name" id="name" class="form-control" th:value="${prod.name}" />
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
  <br>
  <label for="productnumber">Numero de producto: </label>
  <input type="text" name="productnumber" id="productnumber" class="form-control" th:value="${prod.productnumber}" />
  <span th:if="${#fields.hasErrors('productnumber')}" th:errors="*{productnumber}" class="text-danger"></span>
  <br>
  <label for="color">Color: </label>
  <input type="text" name="color" id="color" class="form-control" th:value="${prod.color}" />
  <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}" class="text-danger"></span>
  <br>
  <label for="safetystocklevel">Nivel de stock: </label>
  <input type="text" name="safetystocklevel" id="safetystocklevel" class="form-control" th:value="${prod.safetystocklevel}" />
  <span th:if="${#fields.hasErrors('safetystocklevel')}" th:errors="*{safetystocklevel}" class="text-danger"></span>
  <br>
  <label for="reorderpoint">Punto de pedido: </label>
  <input type="text" name="reorderpoint" id="reorderpoint" class="form-control" th:value="${prod.reorderpoint}" />
  <span th:if="${#fields.hasErrors('reorderpoint')}" th:errors="*{reorderpoint}" class="text-danger"></span>
  <br>
  <label for="standartcost">Costo estándar: </label>
  <input type="text" name="standartcost" id="standartcost" class="form-control" th:value="${prod.standartcost}" />
  <span th:if="${#fields.hasErrors('standartcost')}" th:errors="*{standartcost}" class="text-danger"></span>
  <br>
  <label for="listprice">Precio de venta: </label>
  <input type="text" name="listprice" id="listprice" class="form-control" th:value="${prod.listprice}" />
  <span th:if="${#fields.hasErrors('listprice')}" th:errors="*{listprice}" class="text-danger"></span>
  <br>
   <section class="unitmeasure1">
    <span>Unidad de medida: </span>
    <select th:field="*{unitmeasure1}">
      <option
              th:each="unitme1 : ${unitme1s}"
              th:value="${unitme1.unitmeasurecode}"
              th:text="${unitme1.name}"
              th:attrappend="selected=${prod.unitmeasure1 != null and prod.unitmeasure1.unitmeasurecode == unitme1.unitmeasurecode}?'selected'"
      ></option>
    </select>
    <span th:if="${#fields.hasErrors('unitmeasure1')}" th:errors="*{unitmeasure1}" class="text-danger"></span>
  <br>
  <label for="size">Tamaño: </label>
  <input type="text" name="size" id="size" class="form-control" th:value="${prod.size}" />
  <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}" class="text-danger"></span>
  <br>
 <section class="unitmeasure2">
    <span>Unidad de medida: </span>
    <select th:field="*{unitmeasure2}">
      <option
              th:each="unitme2 : ${unitme2s}"
              th:value="${unitme2.unitmeasurecode}"
              th:text="${unitme2.name}"
              th:attrappend="selected=${prod.unitmeasure2 != null and prod.unitmeasure2.unitmeasurecode == unitme2.unitmeasurecode}?'selected'"
      ></option>
    </select>
    <span th:if="${#fields.hasErrors('unitmeasure2')}" th:errors="*{unitmeasure2}" class="text-danger"></span>
  <br>
  </section>
  <label for="weight">Peso: </label>
  <input type="text" name="weight" id="weight" class="form-control" th:value="${prod.weight}" />
  <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger"></span>
  <br>
  
  <label for="daystomanufacture">Dias de manufactura: </label>
  <input type="text" name="daystomanufacture" id="daystomanufacture" class="form-control" th:value="${prod.daystomanufacture}" />
  <span th:if="${#fields.hasErrors('daystomanufacture')}" th:errors="*{daystomanufacture}" class="text-danger"></span>
  <br>
  <label for="productline">Línea de productos: </label>
  <input type="text" name="productline" id="productline" class="form-control" th:value="${prod.productline}" />
  <span th:if="${#fields.hasErrors('productline')}" th:errors="*{productline}" class="text-danger"></span>
  <br>
  <label for="class">Clase: </label>
  <input type="text" name="class" id="class" class="form-control" th:value="${prod.class}" />
  <span th:if="${#fields.hasErrors('class')}" th:errors="*{class}" class="text-danger"></span>
  <br>
  <label for="style">Estilo: </label>
  <input type="text" name="style" id="style" class="form-control" th:value="${prod.style}" />
  <span th:if="${#fields.hasErrors('style')}" th:errors="*{style}" class="text-danger"></span>
  <br>
  <section class="productsubcategory">
    <span>Subcategoria: </span>
    <select th:field="*{productsubcategory}">
      <option
              th:each="prodsubcat : ${prodsubcats}"
              th:value="${prodsubcat.productsubcategoryid}"
              th:text="${prodsubcat.name}"
              th:attrappend="selected=${prod.productsubcategory != null and prod.productsubcategory.productsubcategoryid == prodsubcat.productsubcategoryid}?'selected'"
      ></option>
    </select>
    <span th:if="${#fields.hasErrors('productsubcategory')}" th:errors="*{productsubcategory}" class="text-danger"></span>
  <br>
 <section class="productmodel">
    <span>Product Model: </span>
    <select th:field="*{productmodel}">
      <option
              th:each="prodmod : ${prodmods}"
              th:value="${prodmod.productmodelid}"
              th:text="${prodmod.name}"
              th:attrappend="selected=${prod.productmodel != null and prod.productmodel.productmodelid == prodmod.productmodelid}?'selected'"
      ></option>
    </select>
    <span th:if="${#fields.hasErrors('productmodel')}" th:errors="*{productmodel}" class="text-danger"></span>
  <br>
  
  </section>
  <div class="row">
    <div class="col-md-4 mt-3">
      <input type="submit" name="action" class="btn btn-primary" value="Update">
    </div>
    <div class="col-md-3 mt-3">
      <input type="submit" name="action" class="btn btn-secondary" value="Cancel">
    </div>
  </div>
</form>
</body>
</html>