<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Ordenes de trabajo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${workorders.isEmpty()}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="true">Ninguna orden de trabajo ha sido registrado aun!</h2>
				<div th:case="false">
					<h2 class="my-5">Ordenes de trabajo</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Id orden</th>
								<th>Id producto</th>
								<th>Cantidad ordenada</th>
								<th>Cantidad desechada</th>
								<th>Fecha inicio</th>
								<th>Fecha final</th>
								<th>Fecha vencimiento</th>
								<th>Razon descarte</th>
								<th>Fecha modificacion</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="workorder : ${workorders}">
								<td th:text="${workorder.workorderid}"></td>
								<td><a th:text="${workorder.productid}" th:href="@{/prod/?id={id}(id=${workor.product.productid})}"></a></td>
								<td th:text="${workorder.orderqty}"></td>
								<td th:text="${workorder.scrappedqty}"></td>
								<td th:text="${workorder.startdate}"></td>
								<td th:text="${workorder.enddate}"></td>
								<td th:text="${workorder.duedate}"></td>
								<td th:text="${workorder.modifieddate}"></td>								
								<td><a th:text="${workorder.scrapreasonid}" th:href="@{/scraprsn/?id={id}(id=${workorder.scrapreason.scrapedreasonid})}"></a></td>
								<td><a th:href="@{/workorder/edit/{id}(id=${workorder.workorderid})}"
									class="btn btn-primary"><i class="fas fa-calendar ml-2"></i></a></td>
								<td><a th:href="@{/workorder/del/{id}(id=${workorder.workorderid})}"
									class="btn btn-primary"><i class="fas fa-trash ml-2"x></i></a></td>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/prod/add" class="btn btn-primary"><i
						class="fas fa-calendar-plus ml-2"></i></a>
				</p>
				
			</div>
		</div>
		<p>
			<a href="/"><i class="fas fa-home ml-2"></i> Atras</a>
		</p>
	</div>
</body>
</html>